<div class="off-canvas-wrap docs-wrap" data-offcanvas="">
  <div class="inner-wrap">
    <!-- sider bar html start here -->
    <div class="side_bar">
      <div class="logo left text-center">
        <a class="left" href="#">Logo</a>
      </div>
    <ul class="sidebar_nav left">
        <li>
          <a class="dashboard left" href="/dashboard">Dashboard</a>
          <ul class="submenu_mobile">
            <li><a href="/dashboard">Dashboard</a></li>
          </ul>
        </li>
        <li>
          <a class="matches active left" href="/matches">Matches</a>
          <ul class="submenu_mobile">
            <li><a href="/matches">Matches</a></li>
          </ul>
        </li>
        <li>
          <a class="player left" href="/players">Players</a>
          <ul class="submenu_mobile">
            <li><a href="/players">Players</a></li>
          </ul>
        </li>
        <li>
          <a class="calender left" href="/scores">Scores</a>
          <ul class="submenu_mobile">
            <li><a href="/scores">Scores</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- right part html end here -->
    <div class="right_part_outer left">
      <div class="top_bar_section left">
        <button class="left">
          <a href="#"></a>
        </button>
        <input type="search" value="Search">
        <div class="top_bar_right_part right">
          <span class="notificatio_icon left">
            <a href="#">
              <span class="notification_number">8</span>
            </a>
          </span>
          <span class="user_name left">
            <a href="#">user Name</a>
             <ul style="display:none">
              <li><a href="#" >Edit Profile</a></li>
              <li><a href="#" >Logout</a></li>
            </ul>
          </span>
          <span class="user_img left">
            <a href="#"><img src="/assets/user_img.jpg" alt=""></a>
          </span>
        </div>
      </div>
      <!-- dashboard inner contant -->
      <div class="dashboard_inner left">

        <div class="current_matches left">
          <h1>Matches</h1>
          <p>This table will show you how your current matches are</p>
          <div class="current_matches_outer left">
            <div class="current_matches_inner left">
              <div  class="top_caption left">
                <h3>Current Matches</h3>
                  <span>
                    <a href="#">Add New</a>
                  </span>  
              </div>
              <table class="current_matches_tabel">
                <tr>
                  <th>Names</th>
                  <th>Date</th>
                  <th>Players</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td><span class="dotted left"></span>Match 1</td>
                  <td>28-08-2015</td>
                  <td>Dhaval Patel V/S Jatin Patel</td>
                  <td>
                    <span class="edit"><a href="#"><img src="/assets/edit_icon.png" alt=""></a></span>
                    <span class="delete"><a href="#"><img src="/assets/delete_icon.png" alt=""></a></span>
                  </td>
                </tr>

                <tr>
                  <td><span class="dotted left"></span>Match 2</td>
                  <td>29-08-2015</td>
                  <td>Amit Patel V/S Harish Patel</td>
                  <td>
                    <span class="edit"><a href="#"><img src="/assets/edit_icon.png" alt=""></a></span>
                    <span class="delete"><a href="#"><img src="/assets/delete_icon.png" alt=""></a></span>
                  </td>
                </tr>

                <tr>
                  <td><span class="dotted left"></span>Match 3</td>
                  <td>30-08-2015</td>
                  <td>Dhaval Panchal V/S Jatin Patel</td>
                  <td>
                    <span class="edit"><a href="#"><img src="/assets/edit_icon.png" alt=""></a></span>
                    <span class="delete"><a href="#"><img src="/assets/delete_icon.png" alt=""></a></span>
                  </td>
                </tr>

                <tr>
                  <td><span class="dotted left"></span>Match 4</td>
                  <td>31-08-2015</td>
                  <td>Gyan Singh V/S Nawaj Khan</td>
                  <td>
                    <span class="edit"><a href="#"><img src="/assets/edit_icon.png" alt=""></a></span>
                    <span class="delete"><a href="#"><img src="/assets/delete_icon.png" alt=""></a></span>
                  </td>
                </tr>

              </table>
            </div>
          </div>  
        </div>  
      </div>
    </div>
  </div>
  </div>
    
 
    